@page "/stripe/cancel"
@using BookingAssistantWeb.Services
@using System.Text.Json

@inject AppsettingsService AppsettingsService
@inject TokenService TokenService
@inject IJSRuntime JS

<PageTitle>Stripe Cancel</PageTitle>

<h1>Stripe Cancel</h1>