@using BookingAssistantWeb.Services
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject TokenService TokenService
@inject AppsettingsService AppsettingsService
@inject HttpClient Http


<div class="landing-layout">
    @Body
</div>