@using BookingAssistantWeb.Services
@using BookingAssistantWeb.Services.Api
@using BookingAssistantWeb.Services.Api.Endpoints
@using BookingAssistantWeb.Services.Api.Endpoints.Google
@using BookingAssistantWeb.Layout.Components
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject TokenService TokenService
@inject AppsettingsService AppsettingsService
@inject HttpClient Http

@code {
    private DotNetObjectReference<MainLayout>? DotNetRef;
    private string AppsettingsPath = "appsettings.json";
    private bool _appsettingsLoaded = false;


    protected override async Task OnInitializedAsync()
    {
        // Load appsettings as before
        var appsettings = await Http.GetFromJsonAsync<Dictionary<string, string>>(AppsettingsPath);
        if (appsettings == null || appsettings.Count == 0)
            throw new Exception("Failed to load appsettings.");

        AppsettingsService.Load(appsettings);
        _appsettingsLoaded = true;

        // Create DotNetObjectReference for JS interop
        DotNetRef = DotNetObjectReference.Create(this);

        if (string.IsNullOrEmpty(AppsettingsService.ApiServer))
            throw new Exception("ApiServer not set in AppsettingsService");

        await JS.InvokeAsync<string>("refreshAccessToken", AppsettingsService.ApiServer, DotNetRef);

    }



    [JSInvokable]
    public void SetJwtToken(string token)
    {
        TokenService.AccessToken = token;
        StateHasChanged();
    }

    [JSInvokable]
    public void ClearJwtToken()
    {
        TokenService.Clear();
        StateHasChanged();
    }

    [JSInvokable]
    public void NoAuth()
    {
        Navigation.NavigateTo("/google-login", true);
    }

    public void Dispose()
    {
        DotNetRef?.Dispose();
    }


}

@if (!TokenService.IsLoggedIn)
{
    <div style="width: 100vw; height: 100vh;">
        <Loader />
    </div>
}
else
{

    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <TopBar />

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}