@page "/add-number/{PhoneId:int}/{ModeConfigId:int}"
@inject NavigationManager Navigation
@inject HttpClient Http
@inject AppsettingsService AppsettingsService;
@inject IJSRuntime JS

@using System.Text.Json
@using BookingAssistantWeb.Services
@using BookingAssistantWeb.Services.Api

<PageTitle>Nastavení čísla</PageTitle>

<h3>Nastavení čísla</h3>

<p>Pro číslo s ID: @PhoneId</p>
<p>Mód čísla ID: @ModeConfigId</p>

<button class="btn btn-primary" @onclick="SaveAndSend">Přidat číslo</button>

<p>@status</p>

@code {
  [Parameter]
  public int? PhoneId { get; set; }
  [Parameter]
  public int? ModeConfigId { get; set; }

  private string status = "";

  private ApiService? apiService;
  protected override Task OnInitializedAsync()
  {
    apiService = new(JS, AppsettingsService);

    return Task.CompletedTask;
  }

  private async Task SaveAndSend()
  {
    if (apiService == null) return;

    AddNumberConfigRequest numberConfigRequest = new()
    {
      BookingWindowSeconds = 14 * 24 * 60 * 60,
      BookingMarginSeconds = 1 * 60 * 60,
      BookingIntervalSeconds = 1 * 60 * 60,
    };

    ApiResponse<AddNumberConfigResponse> numberConfigResponse = await
    apiService.FetchAddNumberConfigEndpoint(numberConfigRequest);

    if (!numberConfigResponse.Success)
    {
      Console.WriteLine($"Failed to add config: {numberConfigResponse.ErrorMessage}, {numberConfigResponse.StatusCode}");
      return;
    }
    Console.WriteLine($"Add config: {numberConfigResponse.Data?.configId}, {numberConfigResponse.StatusCode}");

    AddNumberRequest addNumberRequest = new()
    {
      ConfigId = numberConfigResponse.Data!.configId,
      PhoneId = PhoneId ?? 0
    };

    ApiResponse<AddNumberResponse> addNumberResponse = await apiService.FetchAddNumberEndpoint(addNumberRequest);

    if (addNumberResponse.Success)
    {
      status = "Saved successfully! Redirecting...";
    }
    else
    {
      Console.WriteLine($"Failed to add number: {addNumberResponse.ErrorMessage}, {addNumberResponse.StatusCode}");
      status = $"Error: {addNumberResponse.ErrorMessage}, {addNumberResponse.StatusCode}";
    }
  }
}