@page "/add-number/{PhoneId:int}"
@inject NavigationManager Navigation

<PageTitle>Config Buttons</PageTitle>

<h3>Configurace</h3>

<p>Zadané číslo: @PhoneId</p>

<button class="btn btn-primary" @onclick='NavigateWithParam'>Button 1</button>
<button class="btn btn-secondary" @onclick='NavigateWithParam'>Button 2</button>

@code {
    [Parameter]
    public int? PhoneId { get; set; }
    private void NavigateWithParam()
    {
        Navigation.NavigateTo($"/configure/{PhoneId}");
    }
}
