@page "/add-number"
@using BookingAssistantWeb.Models
@using BookingAssistantWeb.Services
@using System.Text.Json
@using BookingAssistantWeb.Services.Api
@using BookingAssistantWeb.Services.Api.Endpoints

@inject NavigationManager Navigation;

<PageTitle>Přidat číslo</PageTitle>
<h1>Přidat číslo</h1>

<ol>
    <li>Výběr plánu</li>
    <li>Platba</li>
    <li>Konfigurace</li>
</ol>

<button class="btn btn-primary" @onclick='() => Next("basic_plan")'>Rezervační Systém - 300kč/měsíc</button>
<button class="btn btn-secondary" disabled>Objednávací Systém (již brzy)</button>

@code {
    private void Next(string mode)
    {
        Navigation.NavigateTo($"/add-number/{mode}");
    }
}