@page "/add-number"
@using BookingAssistantWeb.Models
@using BookingAssistantWeb.Services
@using System.Text.Json
@using BookingAssistantWeb.Services.Api

@inject HttpClient Http
@inject IJSRuntime JS
@inject TokenService TokenService
@inject AppsettingsService AppsettingsService;
@inject NavigationManager NavigationManager;


<PageTitle>Add Number - Select</PageTitle>
<h1>Add Number - Select</h1>

@if (phoneNumbers is null)
{
    <p>Načítám...</p>
}
else
{
    <p>Count: @phoneNumbers.Count</p>
    @foreach (var phone in phoneNumbers)
    {
        <NavLink href="@($"/add-number/{phone.id}")">@phone.number</NavLink>

        <br />
    }
}

@code {
    List<PhoneNumber>? phoneNumbers;


    private ApiService? apiService;

    protected override async Task OnInitializedAsync()
    {
        apiService = new(JS, AppsettingsService);
        await LoadNumbers();
    }

    private async Task LoadNumbers()
    {
        if (apiService == null) return;

        ApiResponse<GetFreeNumbersResponse> response = await apiService.FetchGetFreeNumbersEndpoint();

        if (!response.Success)
        {
            Console.WriteLine($"Failed to load numbers: {response.ErrorMessage}, {response.StatusCode}");
            return;
        }

        phoneNumbers = response.Data!.phoneNumbers;
        StateHasChanged();
    }

}