@page "/counter"
@using BookingAssistantWeb.Services

@inject AppsettingsService AppsettingsService

<PageTitle>Counter</PageTitle>

<h1>Api Server</h1>

<p role="status">Api Server: @AppsettingsService.ApiServer</p>