@page "/google-login"
@using BookingAssistantWeb.Services
@inject IJSRuntime JS

@inject TokenService TokenService
@inject AppsettingsService AppsettingsService;

<h1>Google OAuth + JWT Test</h1>

<div id="g_id_onload"></div>
<div class="g_id_signin"></div>

<pre>@Output</pre>

@code {
  private string Output = "";

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      // Initialize Google login button
      await JS.InvokeVoidAsync("initializeGoogleLogin", AppsettingsService.ApiServer);
      StateHasChanged();
    }
  }

}